/* mobile first! */

body {
	width: 100dvw;
	height: 100dvh;
	background-image: url(../images/fundo-estrelas.jpeg);
	background-repeat: repeat-y;
	background-size: contain;
	font-family: "Roboto", sans-serif;
}

header {
	width: 100%;
	background: rgba(89, 89, 99, 0.109);
	padding: 21px 25px;
}

nav {
	display: flex;
	gap: 21px;
}

.logo,
.logo img {
	width: 40px;
}

nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

nav li a {
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
}
nav li a:hover {
	text-decoration: underline;
}

main.agradecer {
	display: none;
}

.title {
	margin: 50px 0 30px;
	text-align: center;
	background-color: #89141406;
	color: #fff;
	font-size: 2.5rem;
}

.text {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 40px;
	background-color: #ffffff04;
	text-align: justify;
	color: #fff;
	font-size: 1.4rem;
}

.slider {
	display: flex;
	overflow: auto;
	gap: 45px;
	margin: 50px 0;
	padding: 40px;
}

.slider {
	height: 700px;
}

.item {
	position: relative;
	max-width: 300px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #0851780d;
}

.item .nome {
	top: -13px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 5px;
	background: #ffffffd4;
}

.item .informacao-extra {
	text-align: justify;
	color: #fff;
	font-size: 1.4rem;
}

.item .texto {
	width: 100%;
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
	color: #fff;
}

.texto li {
	font-size: 1.4rem;
	text-align: justify;
}

.image {
	width: 300px;
	height: 300px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	padding: 20px;
	background: #000;
	margin-bottom: 25px;
}
.image img {
	max-width: 300px;
	width: 100%;
	max-height: 290px;
	margin: auto 0;
	object-fit: cover;
}

/* Editar as imagens
   Veja se da no paint
    */

.slider#planetas .item:nth-child(2) .image img,
.slider#planetas .item:nth-child(4) .image img,
.slider#planetas .item:nth-child(6) .image img {
	scale: 1.25;
}

.slider#planetas .item:nth-child(1) .image img {
	scale: 0.8;
}

/* .slider#planetas .item:nth-child(1) {
} */

.agradecimento {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}

.agradecimento button {
	width: 40px;
	height: 40px;
	background: #bbb6b634;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

.agradecimento img {
	scale: 1.5;
}
